<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Styles go here -->
        {% block css %}{% endblock %}
        <!-- Blocking Scripts go here -->
        {% block script_head %}{% endblock %}
    </head>
    <body>
        <!-- Add your site or application content here -->
        {% block body %}{% endblock %}


        <!-- Application Scripts go here -->
        {% block script_body %}{% endblock %}
    </body>
</html>
